<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="./manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="msapplication-starturl" content="./" />

    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title><%= htmlWebpackPlugin.options.gameName %></title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-color: #000000;
        color: white;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
  </head>
  <body>
    <div class="container">
      <form id="configForm">
        <div class="form-group">
          <label for="name">Your name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="room">Room:</label>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="room" value="1" checked> 1
          </div> 
          <div class="form-check">
            <input class="form-check-input" type="radio" name="room" value="2"> 2
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="room" value="3"> 3
          </div>
        </div>

        <button type="button" class="btn btn-primary" id="config">Go to game room</button>
        <br><br>
        <div>Help: </div> <br>
        <div>WASD or arrows - move</div>
        <div>Space - place bomb</div>
        <div>
          <img src="assets/sprites/powerup_extra_life.png" width="40px"> Grants one extra life
        </div>
        <div>
          <img src="assets/sprites/powerup_increase_exploding_time.png" width="40px" style="filter: drop-shadow(0px 0px 2px white);"> The bombs you put will explode 3 times
        </div>
        <div>
          <img src="assets/sprites/powerup_increase_explosion_size.png" width="40px"> The range of your bomb explosion is infinite
        </div>
      </form>

      <form id="startForm" style="display: none;">
        Players in room: <div id="list"></div>
        <button type="button" class="btn btn-primary" id="start">Start game!</button>
      </form>
      <div id="game" style="display: none; height: 720px;">
        <div id="phaser-game" style=""></div>
      </div>
    </div>
  </body>
</html>
